<div class="columnsContainer">

<div class="sideNav">
  <h4>Categories</h4>

  <div >       

    <button ng-click="getCategories(designId)" type="button" class="btn btn-sm btn-primary">Refresh</button>

   <!--  <ul>
      <li ng-repeat="category in categoryDefinition">
        <span><a ng-click="displayImages(category.categoryId)">{{category.categoryName}}</a></span>
          <ul>
          <li ng-repeat="subcategory in category.categoryDefinition">
            <span><a ng-click="displayImages(subcategory.categoryId)">{{subcategory.categoryName}}</a></span>              
          </li> 
          </ul>             
      </li>
    </ul> -->

    <!-- Nested list template -->
              <script type="text/ng-template" id="items_renderer.html">
                <div ui-tree-handle>
                  <a class="btn btn-default btn-xs" data-nodrag ng-click="uiTreeToggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                  {{item.categoryName}}
                  <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <ol ui-tree-nodes="options" ng-model="item.categoryList" ng-class="{hidden: collapsed}">
                  <li ng-repeat="item in item.categoryList" ui-tree-node ng-include="'items_renderer.html'">
                  </li>
                </ol>
              </script>
              <div ui-tree="options">
                <ol ui-tree-nodes ng-model="categoryDefinition" >
                  <li ng-repeat="item in categoryDefinition" ui-tree-node ng-include="'items_renderer.html'"></li>
                </ol>
              </div>

    <script type="text/ng-template" id="nodes_renderer2.html">
      <div class="tree-node">
        <div class="pull-left tree-handle" ui-tree-handle>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="tree-node-content">
          <a class="btn btn-default btn-xs" data-nodrag ng-click="uiTreeToggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
          {{item.categoryName}}
          <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
      <ol ui-tree-nodes="" ng-model="item.categoryList" ng-class="{hidden: collapsed}">
        <li ng-repeat="item in item.categoryList" ui-tree-node ng-include="'nodes_renderer2.html'">
        </li>
      </ol>
    </script>
   <div ui-tree id="tree2-root">
          <ol ui-tree-nodes="" ng-model="categoryDefinition">
            <li ng-repeat="item in categoryDefinition" ui-tree-node ng-include="'nodes_renderer2.html'"></li>
          </ol>
        </div>

  </div>

</div>

<div class="leftColumn">

  <div ng-show="imageDefinition" class="gallery">
    <div class="wrap">
      <div class="box" ng-repeat="image in imageDefinition">
        <div class="boxInner">
          <img src="{{image.src}}" />
          <div class="titleBox">{{image.name}}</div>
        </div>
      </div>
    </div>
  </div>   
  

  <div ng-show="categoryId && !imageDefinition">
    <p>It appears that no images are part of this category: {{categoryId}}. If you loaded your design definition from a local json file then you can search the file for this categoryId to investigate the problem. Otherwise, you'll need to consult the database.
  </div>
	
</div>

<div class="rightColumn">
	<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
</div>

</div>
